
.main-header {
    padding-top: 24px;
    background: #FFFCF4;
    position: sticky;
    /* position: relative; */
    top: -24px;
    z-index: 1;
}

.header {
    position: -webkit-sticky;
    padding: 12px 0;
    display: flex;
    align-items: center;
    background: #FFFCF4;
}

.header .menu {
    margin-left: auto;
}

.header .menu .list-items {
    display: flex;
}

.header .menu .list-items .item.active {
    position: relative;
}

.header .menu .list-items .item a {
    padding: 8px 21px
}

.header .menu .list-items .item a:hover{
    color:  #171100;    
    text-shadow: 1px 0 0 currentColor;
}

.header .menu .list-items .item.active a:focus {
    text-shadow: 1px 0 0 currentColor;
    color:  #171100;
}

.header .menu .list-items .item.active a:focus::after {
    width: 12px;
}

.header .menu .list-items .item a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 0;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    width: 0px;
}

.header .menu .list-items .item a {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #5f5b53;
}

.header .button {
    margin-left: 59px;
    background: #171100;

}

/* Hero */

.main-hero {
    background: #FFFCF4;
}

.hero {
    padding: 52px 0;
    display: flex;
    align-items: center;
    background: #FFFCF4;
}

.hero .image {
    position: relative;
    width: 48%;
}

.hero .image img {
    width: 86%;
    height: 685px;
    border-radius: 20px;
}

.hero .image .cards {
    position: absolute;
    bottom: 48px;
    right: 8px;
    width: 270px;
    height: 244px;
    background: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .image .cards .course {
    padding: 24px 20px;
}

.hero .image .cards .course .card {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.hero .image .cards .course .card:first-child {
    margin-top: 0;
}

.hero .image .cards .course img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .image .cards .course .card .content {
    margin-left: 16px;
}

.hero .image .cards .course .card .content .sub-title{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero .image .cards .course .card .content .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    
}

.hero .area-content {
    display: flex;
    width: 52%;
}

.hero .area-content .content {
    width: 77%;
    margin-left: auto;
}

.hero .area-content .content .title {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .area-content .content .sub-title {
    --line-clamp: 4;
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .area-content .content .watch {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .area-content .content .watch .button {
    min-width: 180px;
    height: 64px;
    background: #FFB900;
    border-radius: 32px;
}

.hero .area-content .content .watch .icon {
    border: none;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero .area-content .content .watch p {
    margin-left: 18px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.hero .area-content .content .trend {
    margin-top: 48px;
}

.hero .area-content .content .trend .number {
    margin-top: 8px;
}

.hero .area-content .content .trend span {
    font-size: 1.8rem;
    color: #5f5b5a;
}

.hero .area-content .content .trend strong {
    font-family: 'Sen',sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}

/* Courses */

.course.main-content {
    margin-top: 200px;
    background: #fff;
}

.course .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .head .text {
    width: 458px;
    max-width: 100%;
}

.course .head .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    color: #171100;
}

.course .head .sub-title {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.course .head .icon .fa-solid {
    width: 40px;
    height: 40px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    font-size: 1.4rem;
    padding: 12px 16px;
    color: #FFB900;
    background-color: #fff;
    cursor: pointer;   
}

.course .head .icon .fa-solid:hover{
    background: #FFB900;
    color: #fff;
    transition: ease 0.5s;
}

.course .head .icon .fa-angle-right {
    margin-left: 18px;
}

.course .list-cards {
    margin-top: 55px;
    display: flex;
    column-gap: 30px;
    overflow: auto;
}

.course .list-cards::-webkit-scrollbar-thumb {
    border: 7px solid transparent;
    border-radius: 100px;
    background-color: #e9e9e9;
    background-clip: content-box;
  }
.course .list-cards .card {
    min-width: 370px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #E2DFDA;    
    /* transition: ease 3s; */
}

.course .list-cards .card:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border: none;
}

.course .list-cards .card img {
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.course .list-cards .card .content {
    margin: 0px;
    width: 100%;
    padding: 16px 22px 22px;
}

.course .list-cards .card .content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course .list-cards .card .content .head .title {
    --line-clamp: 1;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course .list-cards .card .content .head .icon {
    display: flex;
    align-items: center;
}

.course .list-cards .card .content .head .icon img {
    width: 18px;
    height: 18px;
}

.course .list-cards .card .content .head .icon span {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;  
}

.course .list-cards .card .content .sub-title {
    --line-clamp: 2;
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.course .list-cards .card .content .buy {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course .list-cards .card .content .buy .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}
.course .list-cards .card .content .buy .button {
    min-width: 118px;
    background: #171100;
}

.course .list-cards .card .content .buy .button:hover {
    background: #FFB900;
    transition: ease 0.5s;
}

.course .list-cards .card .content .buy .button a {
    font-size: 1.4rem; 
}

/* Testimonial */

.testimonial {
    margin-top: 200px;
    background: #2E2100;
}

.testimonial .main-content {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial .main-content .person {
    width: 195px;
    max-width: 100%;
}

.testimonial .main-content .person .avatar img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .main-content .person .name {
    --line-clamp: 1;
    margin-top: 18px;
    font-family: 'Sen',sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.testimonial .main-content .person .sub-title {
    --line-clamp: 2;
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.testimonial .main-content .person .dots {
    margin-top: 28px;
    display: flex;
}


.testimonial .main-content .person .dots .dot {

    background: #634700;
}

.testimonial .main-content .person .dots .dot.active{
    background: #FFB900;
}


.testimonial .description {
    position: relative;
    width: 770px;
    max-width: 100%;
    padding: 28px 0 0 30px;
}

.testimonial .description .quotes img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 28px;

}

.testimonial .description .desc {
    width: 96%;
    max-width: 100%;
}

.testimonial .description .desc .comment {
    --line-clamp: 6;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;   
}

/* Features */

.feature {
    margin-top: 200px
}

.feature .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 438px;
}

.feature .main-content .image {
    height: 100%;
    position: relative;
    width: 50%;
}

.feature .main-content .image img {
    position: absolute;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.feature .main-content .image img:first-child {
    bottom: 0;
    left: 0
}

.feature .main-content .image img:last-child {
    top: 0;
    right: 4px;
}

.feature .main-content .description {
    /* background: orange; */
    width: 470px;
    max-width: 100%;
}

.feature .main-content .description .title {
    --line-clamp: 2;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;    
}

.feature .main-content .description .sub-title {
    --line-clamp: 3;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.feature .main-content .description .button{
    margin-top: 32px;
    min-width: 137px;
    background: #FFB900; 
    border-radius: 26px;
}

.feature .main-content .description .button a {

}

/* CTA */

.cta {
    margin-top: 200px;
}

.cta .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 440px;
}

.cta .main-content .description {
    width: 50%;
}

.cta .main-content .description .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em; 
    color: #171100;   
}

.cta .main-content .description .sub-title {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53; 
}

.cta .main-content .description .button {
    margin-top: 32px;
    display: inline-flex;
    min-width: 137px;
    background: #FFB900; 
    border-radius: 26px;
}

.cta .main-content .description .button a {
    
}

.cta .main-content image {
    width: 50%;
    height: 100%;
}

.cta .main-content img {
    float: right;
    width: 80%;
    height: 440px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog */

.blog {
    margin-top: 200px;
    background: #FFFCF4;

}

.blog .main-content {
    padding: 96px 0;
}

.blog .main-content .head {
    margin: 0 auto;
    width: 448px;
    max-width: 100%;
}

.blog .main-content .head .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .main-content .head .sub-title {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;      
}

.blog .main-content .list-tasks {
    margin-top: 55px;
    display: flex;
    gap: 30px;   
    overflow: auto; 
}
.blog .main-content .list-tasks::-webkit-scrollbar-thumb {
    border: 7px solid transparent;
    border-radius: 100px;
    background-color: #e9e9e9;
    background-clip: content-box;
  }

.blog .main-content .list-tasks .task {
    min-width: 370px;
    background: #fff;
    border-radius: 16px;
}

.blog .main-content .list-tasks .task:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .main-content .list-tasks .task img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;  
}

.blog .main-content .list-tasks .task .content {
    padding: 20px;
}

.blog .main-content .list-tasks .task .content .date p {

    position: relative;
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.blog .main-content .list-tasks .task .content .date p::before {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFB900;
}

.blog .content.line {
    margin-top: 12px;
    width: 45%;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blog .content .title {
    --line-clamp: 2;
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;  
}

.blog .content .button {
    margin-top: 12px;
    min-width: 118px;
    background: #171100;
    border-radius: 25px;
}

.blog .content .button:hover {
    background: #FFB900;
    transition: ease 0.5s;
}

.blog .content .button a {
    font-size: 1.4rem;
}

.blog .main-content .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.blog .main-content .dot {
    background: #5F5B53;
}

.blog .main-content .dot.active {
    background: #FFB900;
}

/* Footer */

/* ----similar----- */
.footer .text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer h4 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

.footer .line {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554B; 
}

/* ------------------- */

.footer {
    background: #2E2100;
}

.footer .main-content {
    padding-top: 96px;
    padding-bottom: 28px;
}

.footer .main-content .contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer .main-content .contact .logo {
    width: 267px;
}

.footer .main-content .contact .sub-title {
    margin-top: 18px;
}

.footer .main-content .contact .link {
    margin-top: 18px;
    display: flex;
}

.footer .main-content .contact .link a {
    margin: 0 18px;
}


.footer .main-content .contact .link a:first-child {
    margin-left: 0;
}

.footer .main-content .contact .link a:last-child {
    margin-right: 0;
}

.footer .lists {
    margin-top: 28px;
}

.footer .lists li {
    margin-bottom: 12px;
}

.footer .lists li a:hover {
    text-decoration: underline;
}

.footer .lists li:last-child {
    margin-bottom: 0;
}

.footer .address {
    width: 231px;
    max-width: 100%;
}

.footer .address span {
    font-weight: 600;
    color: #fff
}

.footer .main-content .line {
    margin-top: 38px;
    width: 100%;

}

.footer .main-content .copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}

